* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #fd951f;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 100%;
  text-align: center;
  background-color: #fff;
  margin: 0 4rem;
  padding: 1.25rem;
  border-radius: 1.25rem;
}

.myInfo {
  padding: 2rem 0;
  line-height: 3rem;
  font-size: 1.5rem;
  background-color: #f5f5f5;
  border-radius: 1.25rem;
  margin: 0 0 1.5rem 0;
}

.field {
  padding: .5rem;
  font-size: 1.25rem;
}

.field label {
  font-weight: bold;
}

.field input {
  padding: .25rem .25rem;
  font-size: 1.25rem;
  outline: none;

  border-radius: 2rem;
}

.field input:focus {
  border: 2px solid #fd951f;
}

#submitBtn {
  margin-top: 1rem;
  padding: 1.5rem;
  cursor: pointer;
  background-color: #fd951f;
  font-size: 1.25rem;
  border-radius: .75rem;
  color: #fff;
  border: 1px solid #FFF;
  opacity: .9;
}

#submitBtn:hover {
  opacity: 1;
  border: 1px solid #fd951f;
  background-color: #fff ;
  color: #fd951f;  
}

table {
  width: 100%;
  padding: 1.5rem 0;
}

table th {
  background-color: #fd951f;
  color: #FFF;
  padding: 1.25rem 0;
  border-radius: .5rem;
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  main {
    margin: 6rem 0 0;
  }

  .myInfo {
    padding: 1rem 0;
    font-size: 1rem;
    line-height: 1.5rem
  }

  #submitBtn {
    padding: 1rem;
    font-size: 1rem;
  }

  table th {
    font-size: 1.10rem;
    padding: 1.25rem .10rem;
  }
}